blockquote p {
    color:green;
    
  }
  .my_class{
    color:red
  }
  .holder a[href^='https://']{
    color: #f00;
}
.list li ul li:first-child a{
  color: #ff8d00;
}
ul + p {
  font-size: 26px;
}
.holder a[title]{
  border: 1px solid #067b09;
}
.text-box  h3:first-child{
 color:pink; 
}
#greycol{
color:grey;
}
.text-box div p{
  color:red;
}
.text-box div + h3 +p{
  color:green;
}
.yellow{
  color:yellow;
}
